@tailwind base;
@tailwind components;
@tailwind utilities;

img {
	max-height: 100%;
	max-width: 100%;
}

input,
textarea,
select {
	@apply border-2 border-gray-300 rounded-md px-1 w-full text-gray-700;
	@apply mb-2;
}
input:focus,
textarea:focus,
select:focus {
	@apply border-2 border-teal-700 rounded-md placeholder-teal-700 text-teal-800 outline-none;
}
h1 {
	@apply text-teal-800 mb-2 text-xl;
}
label {
	@apply text-teal-800;
}
.btn-primary {
	@apply bg-teal-800 text-white px-4 py-1 rounded-md;
}
table.basic {
	@apply w-full;
}
table.basic thead tr td {
	@apply bg-yellow-50;
}

table.basic tr td {
	@apply border border-gray-200 p-1;
}

table.basic a.primary {
	@apply bg-teal-800 text-white text-sm py-1 px-2 rounded-md inline-flex gap-1 mr-1;
}
table.basic a.default {
	@apply bg-rose-700 text-white text-sm py-1 px-2 rounded-md inline-flex gap-1 mr-1;
}

.btn-default,
.btn-red {
	@apply px-4 py-1 rounded-md;
}

.btn-red {
	@apply bg-rose-700 text-white;
}

.btn-default {
	@apply bg-rose-700 text-white;
}
